<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>{{ name }}'s First Angular Project</h1>
  <img
    width="300"
    alt="Angular Logo"
    src="https://www.launchcode.org/assets/dabomb-562825789d0850a41ddd8ef7eb0d0222d9ef99cd54594ee5e820cb6070fb9477.svg"
  />
</div>
<h2>Here are some links to help you start:</h2>
<ul>
  <li>
    {{ itemList[0] }}
  </li>
</ul>
<p>
  The rectangle has a length of {{ rectangle.length }} cm, a width of
  {{ rectangle.width }} cm, and an area of {{ rectangle.area() }} cm^2.
</p>
